<div>
  <ul>
      <li>Load the file for change the menu options <input type="file" (change)="onChange($event)"/></li>
      <li>Example json file <a href="./assets/data/configurable-menu.json" target="_blank">download here</a></li>
  </ul>
</div>

<h3>Menu 1: Horitzontal menu.</h3>
<app-menu1 [(menu)]="menu"></app-menu1>

<h3>Menu 2: Vertical menu.</h3>
<app-menu2 [(menu)]="menu"></app-menu2>

<h3>Menu 3: Responsive menu.</h3>
<app-menu3 [(menu)]="menu"></app-menu3>

<h3>Menu 4: Menu and submenus.</h3>
<app-menu4 [(menu)]="menu"></app-menu4>